.body {
    height: 100vh;
    width: 100vw;
}

.header {
    height: 56px;
}

.icon {
    margin-right: 10px;
    height: 36px;
}

.content {
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100vw;
}

.signature {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 18px;
    width: 42px;
    height: 42px;
    z-index: 100;
}
