
.content {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vw;
    max-width: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    margin: 0 auto;
    border: 2px solid #aaa;
}

canvas {
    width: 100%;
    height: 100%;
    cursor: none;
}

.score {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    color: white;
    margin: 10px;
}

.menu {
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .menuContent {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        color: white;
    }
}

button {
    border: 2px solid #aaa;
    padding: 10px;
    color: white;
    background-color: black;
    margin: 10px;
}

button:hover{
    background-color: #333;
    transition: 0.3s;
}

@mixin fullscreen {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    .content {
        margin: auto;
        max-width: 100vh;
        max-height: 100vh;
    }
}

:host:fullscreen {
    @include fullscreen();
}

:host:-moz-full-screen {
    @include fullscreen();
}

:host:-webkit-full-screen {
    @include fullscreen();
}

:host:-ms-fullscreen {
    @include fullscreen();
}
