<div class="content">
    <label #score class="score">{{ getScore() }}</label>
    <canvas #canvas (touchstart)="onTouchstart($event)">Canvas is required for this to work</canvas>
    <div #menu class="menu" *ngIf="showMenu" (touchstart)="onTouchstart($event)">
        <div class="menuContent">
            <div *ngIf="!isGameOver()">

                <h1>Snake</h1>
                Press any arrow key
                <p>or</p>
                Touch the game board
            </div>
            <div *ngIf="isGameOver()">
                <h1>Game Over</h1>
                <p>Final score: {{ getScore() }}</p>
            </div>

            <button (click)="newGame()">New Game</button>
            <button (click)="toggleFullScreen()">{{ isFullScreen() ? 'Exit full screen' : 'Full screen' }}</button>
        </div>
    </div>
    <img class="signature" src="assets/love.svg" alt="signature" />
</div>
